/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body,
html {
    margin: 0;
    height: 100%;
    font-family: Arial;
}

.container {
    width: 1280px;
    /*border: 1px solid black;*/
    margin: 0 auto;

    color: #445161;
}

.main-header {
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
}

.main-header-wrapper {
    float: left;
}

.main-header-title {
    margin: 0;
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.color-txt {
    color: red;
}

.main-header-list {
    list-style-type: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.main-header-list-item {
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    /* border: 1px solid white; */
    position: absolute;
    top: 7px;
    left: -37px;

    background-image: url(../images/images.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-header-product-photo {
    display: block;
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    float: right;
}

.product-description {
    width: 100%;
    min-height: 345px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #fff;
}

.product-description-wrapper {
    float: left;
}

.product-description-title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 31px 0;
    display: block;
    min-height: 28px;
    width: 254px;
}

.product-description-main-1 {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    min-height: 63px;
    width: 649px;
    margin: 0 0 24px 0;
}

.product-description-main-2 {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    min-height: 63px;
    width: 653px;
}

.product-description-photo {
    float: right;
    display: block;
    background-color: #445161;
}

.pluses-product {
    background-color: #f5f5f5;
    padding: 50px;
    width: 100%;
    /*min-height: 416px;*/
    box-sizing: border-box;
}

.pluses-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.pluses-product-title {
    font-family: Arial;
    font-size: 30px;
    /*line-height: 36px;*/
    font-weight: 400;
    color: #445161;
    display: block;
    margin: 0 0 0 413px;
}

.pluses-product-left-items {
    float: left;

}

.pluses-product-right-items {
    float: right;

}

.pluses-product-left-items li {
    font-family: Arial;
    font-size: 16px;
    /*line-height: 24px;*/
    font-weight: 400;
    color: #333333;
    list-style-type: none;
    box-sizing: border-box;
    width: 526px;
    margin: 0 0 36px 0;
    position: relative;

}

.pluses-product-right-items li {
    font-family: Arial;
    font-size: 16px;
    /*line-height: 24px;*/
    font-weight: 400;
    color: #333333;
    list-style-type: none;
    box-sizing: border-box;

    margin: 0 0 36px 0;
    width: 526px;
    min-height: 63px;
    position: relative;

}

.pluses-product-left-items li:before,
.pluses-product-right-items li:before {
    content: "+";
    color: #fff;
    font-size:30px;
    text-align: center;
    
  
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid white;
    position: absolute;
    top: 7px;
    left: -37px;
    /*background-image: url(../images/cross.png);
    background-repeat: no-repeat;
    background-position: center;*/
    background-color: #445161;
    top: 1px;
    left: -42px;

}

.screenshots {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    min-height: 487px;

}

.screenshots:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.screenshots-title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    display: block;
    text-align: center;
    margin: 0 auto 36px;
}

.screenshots-left-item {
    float: left;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    width: 588px;


}

.screenshots-right-item {
    float: right;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 588px;

}

.photo-description {
    margin: 0;
    min-height: 170px;


}

.photo {
    background-color: #445161;
    display: block;
    float: left;



}

.photo-description-main {
    /*height:108px;*/

    /*float:right;*/
    margin: 0;
    width: 370px;

}

.photo-description-text-title {
    display: block;

    /*height:23px;*/
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    /*float:right;*/

    margin: 0;


}

.description {
    float: right;

}

.photo-description:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.screenshots-left-item:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;

}

.reviews {
    width: 100%;
    padding: 50px;
    padding-bottom: 25px;
    box-sizing: border-box;
    min-height: 426px;
    background-color: #f5f5f5;


}

.reviews-title {
    text-align: center;
    display: block;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    width: 100%;
}

.reviews-text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    width: 473px;
    min-height: 121px;
    float: right;
    position: relative;
    background-color: #ebebeb;
    border-radius: 5px;
    margin: 0 25px 25px 0;
    box-sizing: border-box;
    padding: 15px;
    text-align: justify;



}

.reviews-text:before {
    content: "";
    display: block;
    border: 10px solid transparent;
    border-right: 10px solid #ebebeb;
    position: absolute;

    top: 18px;
    left: -19px;
}

.reviews-photo {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: #445161;
    float: left;
    margin: 0 16px 0 0
}

.reviews-main {
    display: flex;
    flex-wrap: wrap;
}



.reviews-main-item {
    width: 50%;

}

.author {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    margin: 5px 0 0 0;
}

.buy-now {
    padding: 50px 0 50px 0;
}

.offer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
}

.buy-title {
    width: 100%;
    display: block;
}

.standart {
    margin: 0 23px 0 23px;
    border-radius: 5px;
    border: 3px solid #445162;



}

.buy-now-title {
    display: block;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #445162;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;

}

.buy-now-price {
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    text-align: center;
    display: block;
    padding: 10px;

}

.buy-now-list {
    list-style-position: inside;
    margin: 0;
    color: #ffffff;
    background-color: #445162;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding: 20px 30px 0px 20px;
    box-sizing: border-box;

}

.btn-link-container {

    background-color: #445162;
    padding: 10px;
}

.btn-link {
    /*width:260px;*/
    display: block;
    text-align: center;
    border: 1px solid #445162;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ffffff;
    text-decoration: none;
    /*margin: 0 auto;*/
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-transform: uppercase;

}



.btn-link:hover {
    background-color: #445161;
    color: #ffffff;
}

.clr {
    height: 537px;
}

.footer {
    height: 537px;
    margin: -537px auto;
    background-color: #445162;
    width: 1280px;
}

.contacts-form {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    margin: 0 46px 0 0;

}

.contacts-title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;



    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;

}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1280px;
    padding: 50px;
    box-sizing: border-box;
}


.net_contacts {
    width: 240px;

}

.contacts-form input[type="text"],
.contacts-form input[type="email"],
.contacts-form textarea {
    width: 100%;
    margin: 0 0 20px 0;
    /*margin:20px;*/
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid gray;
    outline: none;
    height: 40px;


}

input[placeholder],
textarea[placeholder] {
    text-overflow: ellipsis;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contacts-form input[type="submit"] {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;

    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    outline: none;
}

.net-contacts {
    width: 240px;
    height: 300px;

}

.contacts-form textarea {
    width: 500px;
    height: 170px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    resize: none;
}

.contacts-form input[type="submit"]:hover {
    background-color: gray;
    color: white;
}

.net-contacts {
    display: block;


}

.net-contacts-link {

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding-left: 30px;
    position: relative;
    margin: 0 0 15px 0;


}

.net-contacts-link:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1px;
    left: 0;

}

.net-contacts-link:nth-of-type(1):before {
    background-image: url(../images/skype_icon_319.png);

}
.net-contacts-link:nth-of-type(2):before {
    background-image: url(../images/icq_icon_324.png);
}
.net-contacts-link:nth-of-type(3):before {
    background-image: url(../images/email_icon_332.png);
}
.net-contacts-link:nth-of-type(4):before {
    background-image: url(../images/phone_icon_337.png);
}

.contacts-icon {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 34px;
    height: 42px;
    /*background-image: url(../images/social_buttons_338.png);*/

}



.main-footer-contacts-net {
    display: block;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid transparent;
    ;
    background-color: #fff;
}

.footer-text {
  
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
    background-color: #fff;
    margin: 0;

}
.link-footer {
    text-decoration: none;
    color:#445162;
    text-transform:uppercase;
}